<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>calculate bmi</title>
</head>
<body>
    <h3>
        BMI < 16 : Severely underweight
        <br>
        16 <= BMI < 18.5: Underweight
        <br>
        18.5 <= BMI < 25: Normal
        <br>
        25 <= BMI < 30: Overweight
        <br>
        BMI > 30: Obese
   </h3>
    <h2>BMI ={{BMI}}</h2>
    {% if BMI < 16 %}
        <h3> {{ bmi_dict["lv1"] }}</h3>
    {% elif BMI < 18.5 %}
        <h3> {{ bmi_dict["lv2"] }}</h3>
    {% elif BMI < 25 %}
        <h3> {{ bmi_dict["lv3"] }}</h3>
    {% elif BMI < 30 %}
        <h3> {{ bmi_dict["lv4"] }}</h3>
    {% else %}
        <h3> {{ bmi_dict["lv5"] }} </h3>
    {% endif %}
</body>
</html>